<div class="card">
    <div class="card-body">
        <h1>{{posts.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{#formatDate data}}{{/formatDate}}</small><br>
        <hr>
        {{posts.conteudo}}
    </div>
</div>