<h1>Lista de posts: </h1>

{{#each posts}}             <!-- Para cada postagem faça algo -->

    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>

{{/each}}
